[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
qtile = "*"
pillow = "*"
psutil = "*"
cairocffi = "*"
pytest-cov = "*"
setuptools-scm = "*"
mypy = "*"
installer = "*"
ttkbootstrap = "*"
tk = "*"
click = "*"
asyncio = "*"
colorama = "*"
requests = "*"
"ruamel.yaml" = "*"

[dev-packages]
black = "*"
isort = "*"
types-pyyaml = "*"
types-psutil = "*"
types-requests = "*"
types-pillow = "*"
mypy = "*"
pytest = "*"
pytest-sugar = "*"
setuptools = "*"
wheel = "*"
twine = "*"
responses = "*"
pytest-cov = "*"
bump2version = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
furo = "*"
setuptools-scm = "*"
build = "*"
installer = "*"
exceptiongroup = "*"
autoflake = "*"

[requires]
python_version = "3.10"
